*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}
.main{
    background-color: aquamarine;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.second{
    /* background-color: brown; */
    height: 30vh;
    width: 60vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btin{
    background-color: blue;
    height: 5rem;
    width: 15rem;
    font-size: 2rem;
    color: white;
    border-radius: 1rem;
    box-shadow: 1px 1px 5px 5px rgba(52, 51, 51, 0.59);
}